doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title EduGuide - Your study pal!
    link(rel='stylesheet', href='css/style2.css')
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='icon', type='image/ico', href='/img/logo.png')
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='/vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
   
    
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style.
      .backgroundRest{
      background-attachment:fixed;
      background-repeat: no-repeat;
      background:url('img/bb3.jpg');
      }
      .navbar {
      overflow: visible;
      background-color: black;
      opacity: 0.8;
      }
     * {
        box-sizing: border-box;
      }   
      .mydiv {
      height:20%;
      width: 20%;
      overflow: hidden;
      image-orientation: from-image;
      
     }
     #myInput {
     background-image: url('img/search.png');
     background-position: 10px 12px;
     background-repeat: no-repeat;
     width: 100%;
     font-size: 16px;
     padding: 12px 20px 12px 40px;
     border: 1px solid #ddd;
     margin-bottom: 12px;
     }
     .bg-light{
         opacity: 0.5;
     }
     #upload{
         display:none;
     }
  body#page-top.backgroundRest
    nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='/university')
          img.img-fluid.rounded-circle(src='/img/logo32.png', alt='EduGuide Logo')
        b
          a.navbar-brand.js-scroll-trigger(href='/university') EDUGUIDE
        button.navbar-toggler.navbar-toggler-right(style="color:white",type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              b
                a.nav-link(href='/university') DASHBOARD
            li.nav-item.dropdown
              b
                a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | DOCUMENTS
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownPortfolio')
                  a.dropdown-item(href='/upload') UPLOAD
                  a.dropdown-item(href='/saved') SAVED
            li.nav-item.dropdown
              b
                a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | PROFILE
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownBlog')
                  a.dropdown-item(href='/profile/'+ userID) MY PROFILE
                  a.dropdown-item(href='/edit') EDIT PROFILE
            li.nav-item
              b
                a.nav-link(href='/') LOGOUT            
    br
    br
    .container
      .content-section-heading.text-center
        h1.mb-1(style="color:white;display:inline-block") UPLOAD DOCUMENT
      br
    .main
      section.signup
        .container
          .signup-content
            form#signup-form.signup-form(role='form', method='post',action='/upload',enctype='multipart/form-data')
              h2.form-title 
              .form-group(align='center')
                br
                input#upload(name='docPicture',type='file',accept='application/pdf')
                a#uploadMyFile1.form-submit(href='') UPLOAD DOCUMENT
                br
                br
              .form-group
                h6 Document Name:
                input#name.form-input(type='text', name='documentName', placeholder='Enter name of document')
              .form-group
                h6 Course Name:
                select.form-input#uniNamee(name='courseName')
                  -var index=0;
                  each entry in saarayCourse
                    option(value=entry._id, name='courseName') #{entry.courseName}
                  -index++;
              .form-group
                h6 Type:
                select.form-input(name='type')
                    option(value='Quiz') Quiz
                    option(value='Assignment') Assignment
                    option(value='Past Paper') Past Paper    
              .form-group
                h6 Uploader:
                input#name.form-input(type='text', readonly='', value=uploader, name='uploaderName')
              .form-group
                h6 University Name:
                input#name.form-input(type='text',readonly='', value=universityName.toString(), name='universityName')
              .form-group
                h6 Department Name:
                input#name.form-input(type='text',readonly='', value=departmentName.toString(), name='departmentName')
              .form-group
                input#submit.form-submit(value='UPLOAD DOCUMENT', type='submit',name='submit')
 
    
    a.scroll-to-top.rounded.js-scroll-trigger(href='#page-top')
      i.fas.fa-angle-up
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
   
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
    script(src='/myJS.js')
    script(src='js/main2.js')
    script(src='/js/stylish-portfolio.min.js')